<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
{% include "partials/head.html" %}

<!--<body-->
<!--        class="-->
<!--      bg-gray-100-->
<!--      flex-->
<!--      justify-center-->
<!--      font-sm-->
<!--      md:font-base-->
<!--      font-normal-->
<!--      leading-normal-->
<!--      md:leading-relaxed-->
<!--    "-->
<!--&gt;-->
<body
        class="
      bg-gray-100
      font-sm
      md:font-base
      font-normal
    "
>
<div>
    <div class="">
        {% include "partials/header.html" %}

    </div>
<!--    <div class="container md:max-w-2xl p-3">-->
            <div class="">
        <main>{% block content %}{% endblock %}</main>
        {% include "partials/footer.html" %}
    </div>
</div>

</body>
</html>
