
@font-face {

    font-family: caviarDreams;
    src: url('CaviarDreams.ttf') format('truetype'),
         url('CaviarDreams_Bold.ttf') format('truetype'),
         url('CaviarDreams_BoldItalic.ttf') format('truetype'),
         url('CaviarDreams_Italic.ttf') format('truetype');

}


body {
    font-family: caviarDreams;

}
main h2 {
    font-size: 1.5em;
}

main a {
    color: red;
}

main a:hover {
    text-decoration: underline;
}

main ul li {
    list-style: disc;
    margin-left: 1em;
}

main p,
main ul,
main hr {
    margin-bottom: 1em;
}

.navbar {
    background: #db1735;
    color: white;
}

.app-red {
    background: #db1735;

}

.subscribe-button {
    background: #db1735;
    /*background: #8d525b;*/

}