@font-face {
    font-family: caviarDreams;
    src: url("fonts/CaviarDreams/CaviarDreams.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_Bold.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_BoldItalic.ttf") format("truetype"), url("fonts/CaviarDreams/CaviarDreams_Italic.ttf") format("truetype");
}

@font-face {
    font-family: pumpkinStory;
    src: url("fonts/PumpkinStory/PumpkinStory.ttf") format("truetype");
}

body {
    font-family: caviarDreams;
}

main h2 {
    font-family: pumpkinStory, serif;
    color: red;
    font-size: 2em;
}

main a {
    color: red;
}

main a:hover {
    text-decoration: underline;
}

main ul li {
    list-style: disc;
    margin-left: 1em;
}

main p,
main ul,
main hr {
    margin-bottom: 1em;
}

.navbar {
    background: #db1735;
    color: white;
    font-family: pumpkinStory, serif;
}

.navbar li:hover {
    color: black;
}

.app-red {
    background: #db1735;
}

.subscribe-button {
    background: #db1735;
    font-family: pumpkinStory, serif;
    font-size: 50px;
}

.blank-page ul,
.page-open_training main ul,
.home-content h2+ul {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.125rem;
}