# Source: https://gist.github.com/markhowellsmead/0c414cea619727a3618b

# Redirect requests to the root domain path (e.g. www.example.com) to the
# appropriate language version as set
# Fallback to English version if no matching browser language defined.
# This has no effect on any subpaths of the website.

# We use HTTP 302 (Redirect Found) because 301 (Permanent Redirect) indicates
# that the original location should no longer be visited.

RewriteEngine on

# Language header value matches "^nl" for Dutch.
RewriteCond %{HTTP:Accept-Language} ^nl [NC]
RewriteRule ^$ /nl-NL/ [L,R=302]

# Language header value matches "^en" for English.
RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule ^$ /en-US/ [L,R=302]


# defaults to the Dutch version
RewriteRule ^$ /nl-NL/ [L,R=302]
