<footer class="m-4 flex items-center flex-col grid grid-cols-3 gap-4">

  <nav class="col-span-2 mt-auto md:ml-20">
    <ul>
      <li>E-mail: info@op-de-kop.nl</li>
      <li>
        <a
          href="/static/docs/Lesvoorwaarden op de kop 2021-09-26.pdf"
          class="underline hover:text-red-500 focus:underline"
          >download {{"terms_and_conditions" | i18n}}</a
        >
      </li>
      <li class=" mt-2">
        <a href="/{{locale}}/members">
          <img
            src="/static/images/icons/members.svg"
            class="rounded-2xl md:w-6"
          />
        </a>
      </li>
    </ul>
  </nav>
  <div class="col-span-1">
    <img src="/static/images/logo.png" class="object-contain rounded-2xl m-2" />
  </div>
</footer>
