<head>
  <title>Op De Kop: acrobatiekvereniging in Utrecht</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link href="/static/css/tailwind.min.css" rel="stylesheet" />
  <link href="/static/css/style.css" rel="stylesheet" />

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

    .font-josefin {
      font-family: "Josefin Sans", sans-serif;
    }
  </style>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""
  />
  <script
    src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""
    type="module"
  ></script>
  <script src="/static/js/main.js" type="module"></script>
  <script async src='https://app.clubcollect.com/widgets.js'></script>

</head>
