<header class="">
  <nav class="md:grid gap-4 mb-3">
    <div class="p-3 grid center place-items-center font-josefin">
      <h2 class="text-xl md:text-2xl">Utrechtse</h2>
      <h1 class="text-4xl md:text-4xl">Acrobatiekvereniging</h1>
    </div>
    <div class="w-100 flex md:justify-center">
      <img src="/static/images/logo.png" class="rounded-2xl md:w-80" />
    </div>
    <ul class="p-3 ml-3 text-xl md:border-b-4">
      <li class="inline mr-2">
        <span
          ><a
            class="hover:underline hover:text-red-500 focus:underline"
            href="/"
            >Home</a
          ></span
        >
      </li>
      <li class="inline mr-2">
        <span
          ><a
            class="hover:underline hover:text-red-500 focus:underline"
            href="https://forms.gle/HsDYcVhqBWPLksJRA"
            >Register</a
          ></span
        >
      </li>
      <li class="inline mr-2">
        <span
          ><a
            class="hover:underline hover:text-red-500 focus:underline"
            href="/faq"
            >FAQ</a
          ></span
        >
      </li>
    </ul>
  </nav>
</header>
